<h1><%= @artist.name %></h1>

<h4> List of Songs </h4>

  <% if @artist.songs.any? %>
    <ul>
      <% @artist.songs.each do |song| %>
        <li><%= link_to song.name, song_path(song.id) %></li>
          <% end %>
    </ul>
  <% else %>
  <p>This Artist has not been singing!</p>
<% end %>

<h4>Photos</h4>
<% @artist.photos.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>

<hr>

<%= link_to "Add a new song", new_song_path, class: "btn btn-primary" %>
<%= link_to "[Edit]", edit_artist_path(@artist.id), class: "btn btn-primary" %>
<%= link_to "[Delete]", artist_path(@artist.id), class: "btn btn-primary",method: :delete, data: { confirm: "Are you sure?" } %>
