<h1><%= @artist.name %></h1>

<h4> List of Songs </h4>

    <ul>
      <% @artist.songs.each do |song| %>
        <li> <%= song.name %> </li>
      <% end %>
    </ul>


<!-- Photos -->
<h4>Photos</h4>
<% @artist.photos.each do |photo| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= image_tag photo.image.thumbnail %>
  </div>
</div>
<% end %>

<hr>

<h3>Add New Song to <%= "#{@artist.name}" %> </h3>
  <br>
    <%= render "form_song" %>
  <br>

<%= link_to "[Edit]", edit_artist_path(@artist.id), class: "btn btn-primary" %>
<%= link_to "[Delete]", artist_path(@artist.id), class: "btn btn-primary",method: :delete, data: { confirm: "Are you sure?" } %>
