<h1><%= @artist.name %></h1>
    <br>
<h4> List of Songs </h4>
    <br>
    <ul>
      <% @artist.songs.each do |song| %>
        <li> <p><b>Song Title:</b> <%= song.name %></p><p><b>Album:</b> <%= song.album %></p> <p><b>Released In:</b> <%= song.year %></p> <hr> </li>
      <% end %>
    </ul>


<!-- Photos -->
<h3><strong>Photos</strong></h3>
<% @artist.photos.each do |photo| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <%= image_tag photo.image.thumbnail %>
  </div>
</div>
<% end %>

<hr>

<h3>Add New Song to <%= "#{@artist.name}" %> </h3>
  <br>
    <%= render "form_song" %>
  <br>

<%= link_to "[Edit]", edit_artist_path(@artist.id), class: "btn btn-primary" %>
<%= link_to "[Delete]", artist_path(@artist.id), class: "btn btn-primary",method: :delete, data: { confirm: "Are you sure?" } %>
