<h1><%= "#{@song.name}" %></h1>

<p>Album:      <%= @artist.song.album %></p>
<p>Year:        <%= @artist.song.year %></p>

<%= link_to "Edit this #{@song.name}", edit_artist_song_path(@song.id) %>

<br><br>
<hr>
<%= link_to "Delete this Song", song_path(@song.id), method: :delete, data: { confirm: "Are You Sure You Want to Rewrite History?" } %>
